[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
firebase-admin = "~=6.0"
python-dotenv = "*"
requests = "~=2.28"
python-jose = {extras = ["cryptography"], version = "*"}
sqlalchemy = "~=1.4"
psycopg2-binary = "*"
structlog = "*"
starlette = "*"
magic-admin = "*"
pandas = "~=1.5"
xlsxwriter = "*"

[dev-packages]

[requires]
python_version = "3.9"
