[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
firebase-admin = "*"
python-dotenv = "*"
requests = "*"
python-jose = {extras = ["cryptography"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
structlog = "*"
starlette = "*"
magic-admin = "*"

[dev-packages]

[requires]
python_version = "3.9"
